.content {
    width: 50%;
    margin: 0 auto;
    padding: 2rem 0;
    border: 1px solid #f5f5f5;

    h1 {
        font-size: 2rem;
        margin-block: 1rem;
        text-align: center;
    }

    h5 {
        font-size: 1.2rem;
        margin-block: 1rem;
        text-align: center;
        font-style: italic;
    }

    .categories {
        display: flex;
        justify-content: space-around;
        margin-block: 1rem;
    }

    .main {
        display: flex;
        justify-content: space-around;
        margin-inline: 2em;
        gap: 20px;

        .presentation {
            width: 50%;

            img {
                border-radius: 10px;
                width: 100%;
            }
        }

        .details {
            .about {
                display: flex;
                margin-block: 1rem;
                font-size: 1.2rem;
            }

            .synopsis, .production, .rating  {
                margin-block: 1rem;
                font-size: 1rem;
            }

            .rating {
                width: 200px;

                p {
                    margin-top: 20px;
                    text-align: center;
                }
            }
        }
    }
}

.divider {
    margin-inline: 2px;
}
