.results {
    h1 {
        font-size: 2rem;
        margin-block: 1rem;
        text-align: center;
    }

    .film-only {
        text-align: center;

        input {
            margin-inline: 3px;
        }
    }
}
